
<div class="container">
  <br>

  <div class="row">

    <div class="col-lg-1">
      <br><br>
      <div class="card">
        <div class="card-header">
          <a class="card-link" data-toggle="collapse" [routerLink]="['/notes']">
            Notes
          </a>
        </div>

        </div>
      <br>
      <div class="card">
        <div class="card-header">
          <a class="collapsed card-link" data-toggle="collapse" [routerLink]="['/information']">
          Informations
        </a>
        </div>

      </div>
    </div>

   <div class="col-lg-4">
    <h2 style="color: red;">List of notes</h2>
  <app-list [list]="list_notes" (edit)="openEdit($event)"></app-list>
  <br>
  <h4>Them moi</h4>
  <app-form (save)="saveNote($event)" [note]="note"></app-form>
   </div>

   <div class="col-lg-7" >
     <h2 style="color: red;">Detail</h2>
     <textarea name="" id="" cols="100" rows="10">{{details}}</textarea>
   </div>
  </div>

</div>


