
<div class="container">
<div class="row">
<div class="col-lg-1">
  <br><br>
  <div class="card">
    <div class="card-header">
      <a class="card-link" data-toggle="collapse" [routerLink]="['/notes']">
        Notes
      </a>
      
    </div>

    </div>
  <br>
  <div class="card">
    <div class="card-header">
      <a class="collapsed card-link" data-toggle="collapse" [routerLink]="['/information']">
      Informations
    </a>
    </div>

  </div>
</div>
<div class="col-lg-11">
  <br>
  <h1 style="color: red ;">Thông tin cá nhân</h1>
  <hr>
  <ul *ngFor="let item of thongtin">
    <li>Tên - {{item.ten}}</li>
    <li>MSSV - {{item.mssv}}</li>
    <li>Ngành - {{item.nganh}}</li>
    <li>Điểm - {{item.diem}}</li>
  </ul>
</div>
</div>
</div>

